extends ../_skeleton

block variables
	- pageName = 'Menu'

block page
	include ../sections/_header-classic

	+breadcrumbs

	// Menu
	section.section.section-lg.bg-default.text-center.text-lg-start
		.container
			h2 Menu
			h6 Breakfast
			.row.row-30.row-content-1
				.col-xs-6.col-lg-4.col-xl-3
					+block-simple({
						title: 'French omelette',
						text1: 'fresh herbs, Spanish onion, roasted peppers, spinach & fetta served with brioche',
						text2: '19'
					})
					+block-simple({
						title: 'Sweet corn fritters',
						text1: 'w/ avocado mash, fetta & chicory dressed with crème fraiche',
						text2: '17'
					})
					+block-simple({
						title: 'Dukkah toast',
						text1: 'w/ roasted vine tomatoes, dukkah with marinated goats cheese & avocado on toast',
						text2: '14'
					})
				.col-xs-6.col-lg-4.col-xl-3.offset-xl-1
					+block-simple({
						title: 'Feast',
						text1: 'eggs to your liking w mushrooms, roasted tomatoes, chorizo, istra bacon & house relish on toast',
						text2: '21'
					})
					+block-simple({
						title: 'Fried duck eggs',
						text1: 'toast, parma prosciutto, roasted tomato, green olives and parmesan',
						text2: '16'
					})
					+block-simple({
						title: 'Ricotta hotcakes',
						text1: 'w/ banana, vanilla yoghurt, pistachio, chestnut flower honey (V)',
						text2: '14'
					})
				.col-lg-4.col-xl-3.offset-xl-1
					.img-responsive
						+img( 'menu-01-383x500' )

	// Menu
	section.section.section-lg.bg-default.text-center.text-lg-start
		.container
			.row.row-30.align-items-center
				.col-lg-4.col-xl-3.d-none.d-lg-block
					.img-responsive
						+img( 'menu-02-245x300' )
				.col-lg-8.col-xl-8
					h6 lunch
					.row.row-30.row-content-1
						.col-xs-6.col-xl-4
							+block-simple({
								title: 'Baked duck burger',
								text1: 'brioche bun, maple bacon, smoked tomato reslish and fries',
								text2: '24'
							})
							+block-simple({
								title: 'Herb crusted rockling fillet',
								text1: 'house tartare, cos hearts, cucumber and radish',
								text2: '18'
							})
							+block-simple({
								title: 'Grilled broccolini salad',
								text1: 'w/ poached duck egg, peas, sprouts and lemon (GF)',
								text2: '16.5'
							})
						.col-xs-6.col-xl-4.offset-xl-2
							+block-simple({
								title: 'Smoked beetroot salad',
								text1: 'w/ roasted pumpkin, walnuts, chard and goats cheese (V)',
								text2: '21'
							})
							+block-simple({
								title: 'Baked millet and vegetable root',
								text1: 'w/ two poached eggs, activated cashew cream & supergreens pesto.',
								text2: '20'
							})
							+block-simple({
								title: 'Pan seared snapper',
								text1: 'w/ potato galette, broccolini, purple cauliflower & shaved baby heirloom beets.',
								text2: '19'
							})

			.row.row-30.row-content-2
				.col-lg-4.col-xl-3.d-none.d-lg-block
				.col-lg-8.col-xl-8
					.row.row-30.align-items-end
						.col-xs-6.col-xl-5
							.img-responsive
								+img( 'menu-03-382x480' )
						.col-xs-6.col-xl-4.offset-xl-1
							.img-responsive
								+img( 'menu-04-245x310' )
					h6 Drinks
					.row.row-30.row-content-1
						.col-xs-6.col-xl-4
							+block-simple({
								title: 'Milkshake',
								text1: 'salted caramel, vanilla bean',
								text2: '7'
							})
							+block-simple({
								title: 'Iced coffee',
								text1: 'w/ vanilla bean ice cream',
								text2: '4.5'
							})
							+block-simple({
								title: 'Single origin coffee',
								text1: 'latte, cappucino',
								text2: '3.5'
							})
							+block-simple({
								title: 'Tormentoso Bush Vine Pintoage',
								text1: 'This wine has typical Pinotage aromas of black cherries'
							})
						.col-xs-6.col-xl-4.offset-xl-2
							+block-simple({
								title: 'Freshly squeezed juice',
								text1: 'orange, apple, watermelon',
								text2: '4.5'
							})
							+block-simple({
								title: 'Organic green tea',
								text1: 'sourced locally',
								text2: '5.5 / pot'
							})
							+block-simple({
								title: 'Aperol Spritz',
								text1: 'Ice and slice of orange, prosecco, aperol, soda'
							})
							+block-simple({
								title: 'Campari',
								text1: 'Campari\'s, lush grapefruit notes, soda'
							})

	include ../sections/_footer-classic
