/** @section Sections */

// Section Spacing
.section-lg {
	padding: 50px 0;
}

@include media-breakpoint-up(md) {
	.section-lg {
		padding: 60px 0;
	}
}

@include media-breakpoint-up(lg) {
	.section-lg {
		padding: 80px 0;
	}
}

@include media-breakpoint-up(xl) {
	.section-lg {
		padding: 115px 0;
	}

	.breadcrumbs-custom + .section-lg {
		padding-top: 97px;
	}
}

@include media-breakpoint-up( xxl ) {
	.section-lg {
		padding: 200px 0;
	}

	.breadcrumbs-custom + .section-lg {
		padding-top: 97px;
	}
}
