-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,400&display=swap",
		logo = {
			default: 'logo-default-412x120.png',
			inverse: 'logo-inverse-412x120.png',
			name: 'Cocktail Bar'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#b6c062'
		},
		menu = [
			{
				title: 'Home',
				link: 'index.html'
			},
			{ title: 'About' },
			{ title: 'Menu' },
			{ title: 'Gallery' },
			{ title: 'Contacts' }
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
